# Base de datos
DATABASE_URL="mysql://user:password@localhost:3306/hospital_onativia"

# Email
GMAIL_PASS="tu_contraseña_de_aplicacion_gmail"

# JWT
JWT_SECRET="cambia_esto_por_un_secret_super_seguro_y_largo"

# Puerto del servidor
PORT=1234

# URLs
FRONTEND_URL="http://localhost:3000"
PRODUCTION_URL="http://195.200.0.39"
